@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Source Serif 4', ui-serif, serif;
    line-height: 1.5;
    font-weight: 500;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    /*background-color: #E6D3BB;*/

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #e5d1bb !important;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-image: url("assets/texture.jpg") ;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}

#app {
    @apply mx-auto max-w-screen-2xl;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}
